*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
ul, li{
    text-decoration: none;
    list-style: none;
}
  
img{
    width: 100%;
}
  
a{
    text-decoration: none;
    color: currentColor;
}
  
input, select:focus-visible{
    outline: none;
}

.container-small{
    width: 1180px;
    margin: 0 auto;
}

.container-large{
    width: 1580px;
    margin: 0 auto;
}