@media screen and (max-width: 1200px) {
    /* navbar */
    .navbar{
      position: absolute;
      top: 100%;
      right: 0;
      flex-direction: column;
      height: 100vh;
      background-color: #6357d4b0;
      width: 380px;
      visibility: hidden;

      li{
        border-bottom: 1px solid white;
        width: 100%;
        color: #fff;
        

        a{
          line-height: 80px;
          font-size: 24px;
        }

        a:hover{
            opacity: 50%;
            color: #fff;
            border: none;
        }
      }
    }

    .navbar.active{
        visibility: visible;
    }

    #button{
        display: block;
    }

    /* jumbo-header */
    
}

@media screen and (max-width: 768px) {
    .search > img,
    .search > .language-select,
    .search > .icon-user,
    .search > .search-bar{
        display: none;
    }
    
}