/* button */

.green-button{
    border-radius: 5px;
    background-color: #1FAD96;
    color: #fff;
    padding: 20px 40px;
    font-weight: 700;
    border: none;
    transition: 300ms;
    cursor: pointer;
}

.green-button:hover{
    background-color: #3F3A64;
    color: #fff;
}

/* subtitle */
.subtitle{
    color: #20ad96;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

/* title */
.big-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #333333;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px){
    .big-title{
        font-size: 34px;
        font-weight: 700;
        line-height: 36px;
        color: #333333;
        margin-bottom: 15px;
    }

    .subtitle{
        color: #20ad96;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 768px){
    .big-title{
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        color: #333333;
        margin-bottom: 15px;
    }

    .subtitle{
        color: #20ad96;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 25px;
    }
}